/* --- HERO  --- */
body {
    background-color: var(--bg-hero);
}

.hero {
    position: relative;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-white);
}

/* Capa de degradado encima de la imagen */
.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(219, 234, 255, 0.2) 0%, rgba(219, 234, 255, 1) 100%);
    z-index: -1;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.hero-tittle {
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 15px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.hero-text {
    font-size: 1.2rem;
    max-width: 600px;
    margin-bottom: 30px;
    line-height: 1.6;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.hero-cta {
    background-color: var(--yellow);
    color: var(--text-white);
    padding: 15px 40px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.2rem;
    box-shadow: 0 4px 10px rgba(255, 214, 0, 0.4);
    transition: transform 0.2s;
}

.hero-cta:hover {
    transform: scale(1.05);
}

/* --- SECCIÓN ACTIVIDADES--- */
.actividades {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bg);
    padding: 60px 20px;
    position: relative;
    border-radius: 150px 150px 30px 30px;
    margin-top: -25px;
    z-index: 10;
    text-align: center;
}

.section-head h2 {
    color: var(--blue);
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.section-head p {
    color: var(--text-nav);
    margin-bottom: 50px;
}

/* --- CARDS --- */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
    justify-items: center;
}

.card {
    background: var(--bg);
    border-radius: 30px;
    padding: 25px;
    text-align: center;
    border: 2px solid var(--border-light);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 320px;
}

.card:hover {
    transform: translateY(-10px);
}

.card-icon {
    width: 100%;
    height: auto;
}

.card h3 {
    margin: 0%;
    font-size: 1.5rem;
}

.card p {
    margin-bottom: 25px;
    flex-grow: 1;
}

/* Botones de las cards */
.card-btn {
    text-decoration: none;
    color: var(--text-white);
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 0.9rem;
    margin-top: auto;
    display: inline-block;
}

/* --- COLORES ESPECÍFICOS POR TARJETA --- */

/* Verde */
.card-green {
    color: var(--green);
    border-color: var(--border-card-green);
}

.card-green .card-btn {
    background-color: var(--green);
    box-shadow: 0 4px 10px rgba(130, 214, 22, 0.3);
}

/* Azul */
.card-blue {
    color: var(--blue);
    border-color: var(--border-card-blue);
}

.card-blue .card-btn {
    background-color: var(--blue);
    box-shadow: 0 4px 10px rgba(92, 157, 255, 0.3);
}

/* Rojo */
.card-pink {
    color: var(--red);
    border-color: var(--border-card-pink);
}

.card-pink .card-btn {
    background-color: var(--red);
    box-shadow: 0 4px 10px rgba(255, 138, 128, 0.3);

}